*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #797878;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #0d1321;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.nav {
  background-color: rgb(255, 255, 255);
}
.nav__bar {
  padding: 0 2rem;
  min-height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.nav__item {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  color: #0d1321;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
}
.nav__link:hover {
  color: #ff8d83;
}
.nav__hamburger {
  display: none;
}
.nav__hamburger-bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  background-color: black;
}

.hero {
  background-color: rgb(255, 255, 255);
}
.hero__section {
  padding: 0 2rem;
}
.hero__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafb;
  border-radius: 2rem;
  overflow: hidden;
}
.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__hola {
  font-weight: bold;
  font-size: 4rem;
  margin: 2rem 0;
}
.hero__welcome-text {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.hero__text {
  color: #665f82;
  line-height: 2.8rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
}
.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.hero__btn {
  text-decoration: none;
}
.hero__btn--hire {
  padding: 1rem 4rem;
  background-color: #0d1321;
  color: white;
  border-radius: 1.6rem;
  margin-bottom: 1rem;
}
.hero__btn--see {
  color: #0d1321;
  padding: 1rem 2rem;
  border-radius: 1.6rem;
}
.hero__photo {
  margin: 0 auto -0.4rem;
}
.hero__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}
.hero__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15rem;
  width: 15rem;
}
.hero__number {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #0d1321;
}
.hero__stat-text {
  color: #989dbb;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.hero__line {
  width: 100%;
  height: 1px;
  background-color: #e0e2ef;
}

.aboutme {
  background-color: #0f1221;
}
.aboutme__main {
  padding: 5rem 2rem;
}
.aboutme__main-text {
  font-size: 2.8rem;
  padding: 4rem 0;
  color: #ea8c82;
}
.aboutme__text {
  color: white;
  line-height: 2.8rem;
  font-size: 1.4rem;
  padding: 2rem 0;
  max-width: 600px;
}

.contact {
  background-color: #fbc0ba;
}
.contact__section {
  padding: 5rem 0;
}
.contact__box {
  padding: 5rem 2rem;
}
.contact__main-text {
  font-size: 3rem;
}
.contact__form-box {
  max-width: 500px;
  text-align: right;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}
.contact__text-area {
  background-color: #FBC0BA;
  margin: 2rem 0;
  border: none;
  font-size: 1.4rem;
  border-bottom: 1px solid #0D1321;
}
.contact__text-area::-webkit-input-placeholder {
  color: #0d1321;
  opacity: 1;
  font-family: "Lato", sans-serif;
}
.contact__text-area::-moz-placeholder {
  color: #0d1321;
  opacity: 1;
  font-family: "Lato", sans-serif;
}
.contact__text-area:-ms-input-placeholder {
  color: #0d1321;
  opacity: 1;
  font-family: "Lato", sans-serif;
}
.contact__text-area::-ms-input-placeholder {
  color: #0d1321;
  opacity: 1;
  font-family: "Lato", sans-serif;
}
.contact__text-area::placeholder {
  color: #0d1321;
  opacity: 1;
  font-family: "Lato", sans-serif;
}
.contact__btn {
  padding: 1rem 2rem;
  border-radius: 1.6rem;
  border: 1px solid #0d1321;
  color: #0d1321;
  margin-top: 2rem;
  background-color: #FBC0BA;
}

.footer {
  background-color: #FBC0BA;
}
.footer__body {
  padding: 0 2rem;
  text-align: center;
}
.footer__link {
  padding: 1rem 3rem;
  color: #0d1321;
}
.footer__link:hover {
  color: #fafafb;
}
.footer__create {
  font-size: 1.4rem;
  padding: 3rem 0;
}

@media (min-width: 576px) {
  .hero__hola {
    font-size: 4.2rem;
  }
  .hero__welcome-text {
    font-size: 2.6rem;
  }
  .hero__text {
    max-width: 500px;
  }
  .hero__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero__stat {
    min-width: 250px;
  }
  .aboutme__main-text {
    font-size: 3rem;
  }
  .contact__main-text {
    font-size: 3.2rem;
  }
}
@media (min-width: 768px) {
  .hero__hola {
    font-size: 4.8rem;
  }
  .hero__welcome-text {
    font-size: 2.8rem;
  }
  .hero__statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .hero__stat {
    min-width: 140px;
  }
  .aboutme__main-text {
    font-size: 3.2rem;
  }
  .aboutme__text {
    font-size: 1.6rem;
  }
  .contact__main-text {
    font-size: 3.4rem;
  }
}
@media (min-width: 992px) {
  .hero__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
    padding: 0 4rem;
    margin-bottom: 5rem;
  }
  .hero__hola {
    font-size: 5.2rem;
  }
  .hero__welcome-text {
    font-size: 3rem;
  }
  .hero__stat {
    min-width: 240px;
  }
  .hero__stat-text {
    font-size: 1.6rem;
  }
  .aboutme__text {
    max-width: none;
    width: 60%;
  }
  .contact__main-text {
    font-size: 3.6rem;
  }
}
@media (min-width: 1200px) {
  .hero__hola {
    font-size: 5.8rem;
  }
  .hero__welcome-text {
    font-size: 3.2rem;
  }
  .hero__info {
    margin-bottom: 9rem;
  }
  .contact__main-text {
    font-size: 3.8rem;
  }
}
@media (max-width: 768px) {
  .nav {
    padding-right: 1rem;
  }
  .nav__hamburger {
    display: block;
    cursor: pointer;
    padding: 1rem;
  }
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    gap: 0;
    padding-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fff;
  }
  .nav__item {
    margin: 16px 0;
  }
  .nav__menu.active {
    left: 0;
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}/*# sourceMappingURL=main.css.map */