*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[id] {
  scroll-margin-top: 7rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #797878;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #0d1321;
  /* background-color: yellow; */
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7rem;
  padding: 0 2rem;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.nav__item {
  list-style-type: none;
}
.nav__link {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #0d1321;
  font-size: 1.6rem;
}
.nav__link:hover {
  color: #ff8d83;
}
.nav ul .active a {
  color: #ea8c83;
}
.nav__hamburger {
  display: none;
}
.nav__hamburger-bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  background-color: black;
}

.hero {
  background-color: rgb(255, 255, 255);
  margin-top: 7rem;
}
.hero__section {
  padding: 0 2rem;
}
.hero__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafb;
  border-radius: 2rem;
  overflow: hidden;
}
.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__hola {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 4rem;
}
.hero .typed-cursor {
  color: #ea8c82;
}
.hero__welcome-text {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.hero__text {
  margin-bottom: 4rem;
  color: #665f82;
  line-height: 2.8rem;
  font-size: 1.6rem;
}
.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.hero__btn {
  text-decoration: none;
}
.hero__btn--hire {
  margin-bottom: 1rem;
  padding: 1.5rem 3rem;
  background-color: #0d1321;
  color: white;
  border-radius: 1.6rem;
}
.hero__btn--hire-logo {
  position: relative;
  top: 2px;
  right: 2px;
  width: 18px;
}
.hero__btn--see {
  padding: 1.5rem 2rem;
  color: #0d1321;
  border-radius: 1.6rem;
}
.hero__photo {
  margin: 0 auto -0.4rem;
}
.hero__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}
.hero__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15rem;
  height: 15rem;
}
.hero__number {
  margin-bottom: 1rem;
  color: #0d1321;
  font-size: 4rem;
  font-weight: bold;
}
.hero__stat-text {
  color: #989dbb;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.hero__line {
  width: 100%;
  height: 1px;
  background-color: #e0e2ef;
}

.aboutme__section {
  background-color: #0f1221;
}
.aboutme__main {
  padding: 5rem 2rem;
}
.aboutme__main-text {
  padding: 4rem 0;
  color: #ea8c82;
  font-size: 2.8rem;
}
.aboutme__text {
  max-width: 600px;
  padding: 2rem 0;
  color: white;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.aboutme__photo {
  background-color: #fff;
  text-align: center;
}
.aboutme__photo-box {
  padding: 5rem 2rem;
}
.aboutme__photo-img {
  width: 100%;
  max-width: 1100px;
  height: auto;
}

.portfolio__section {
  background-color: white;
}
.portfolio__main {
  padding: 2rem 2rem 4rem 2rem;
}
.portfolio__main-text {
  padding: 2rem 0;
  font-size: 2.8rem;
}
.portfolio__navi {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  margin-bottom: 2rem;
}
.portfolio__navi-item {
  position: relative;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 5px;
  color: rgba(13, 19, 33, 0.5137254902);
  font-size: 1rem;
  z-index: 1;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.portfolio__navi-item:hover {
  color: #0d1321;
}
.portfolio__content {
  display: none;
}
.portfolio__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__slide--image {
  position: relative;
  width: 100%;
  border-radius: 1.6rem;
}
.portfolio__description {
  margin: 2rem 0;
}
.portfolio__description--task {
  padding-bottom: 1.5rem;
  color: #ea8c83;
  font-size: 1.6rem;
}
.portfolio__description--company {
  font-size: 1.8rem;
  font-weight: bold;
}

.slider {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 50%;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team-slider .swiper-button-next,
.team-slider .swiper-button-prev {
  top: 45%;
  padding-bottom: 5rem;
  color: #444;
}

input[type=radio] {
  display: none;
}

#mobile:checked ~ section .content-1,
#websites:checked ~ section .content-2,
#branding:checked ~ section .content-3,
#other:checked ~ section .content-4 {
  display: block;
}

#mobile:checked ~ .navi label.mobile,
#websites:checked ~ .navi label.websites,
#branding:checked ~ .navi label.branding,
#other:checked ~ .navi label.other {
  color: #0d1321;
}

.contact {
  background-color: #fbc0ba;
}
.contact__section {
  padding: 5rem 0;
}
.contact__box {
  padding: 5rem 2rem;
}
.contact__main-text {
  font-size: 3rem;
}
.contact__form-box {
  max-width: 500px;
  text-align: right;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}
.contact__text-area {
  margin: 2rem 0;
  background-color: #fbc0ba;
  border: none;
  font-size: 1.4rem;
  border-bottom: 1px solid #0d1321;
}
.contact__text-area::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #0d1321;
  opacity: 1;
}
.contact__text-area::-moz-placeholder {
  font-family: "Lato", sans-serif;
  color: #0d1321;
  opacity: 1;
}
.contact__text-area:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #0d1321;
  opacity: 1;
}
.contact__text-area::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #0d1321;
  opacity: 1;
}
.contact__text-area::placeholder {
  font-family: "Lato", sans-serif;
  color: #0d1321;
  opacity: 1;
}
.contact__btn {
  margin-top: 2rem;
  margin-left: auto;
  padding: 1.5rem 2rem;
  border: 1px solid #0d1321;
  background-color: #fbc0ba;
  color: #0d1321;
  border-radius: 1.6rem;
  cursor: pointer;
}

.footer {
  background-color: #fbc0ba;
}
.footer__body {
  padding: 0 2rem;
  text-align: center;
}
.footer__link {
  padding: 1rem 3rem;
  color: #0d1321;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.footer__link:hover {
  color: #fafafb;
}
.footer__create {
  padding: 3rem 0;
  font-size: 1.4rem;
}

@media (min-width: 576px) {
  .hero__hola {
    font-size: 4.2rem;
  }
  .hero__welcome-text {
    font-size: 2.6rem;
  }
  .hero__text {
    max-width: 500px;
  }
  .hero__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero__stat {
    min-width: 250px;
  }
  .hero__btn--hire {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .aboutme__main-text {
    font-size: 3rem;
  }
  .contact__main-text {
    font-size: 3.2rem;
  }
  .portfolio__main-text {
    font-size: 3rem;
  }
  .portfolio__navi-item {
    font-size: 1.4rem;
  }
  .portfolio__description--task {
    font-size: 1.6rem;
  }
  .portfolio__description--company {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .hero__hola {
    font-size: 4.8rem;
  }
  .hero__welcome-text {
    font-size: 2.8rem;
  }
  .hero__statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .hero__stat {
    min-width: 140px;
  }
  .aboutme__main-text {
    font-size: 3.2rem;
  }
  .aboutme__text {
    font-size: 1.6rem;
  }
  .portfolio__navi {
    max-width: 500px;
  }
  .portfolio__navi-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact__main-text {
    font-size: 3.4rem;
  }
}
@media (min-width: 992px) {
  .hero__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 4rem;
    margin-bottom: 5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
  }
  .hero__hola {
    font-size: 5.2rem;
  }
  .hero__welcome-text {
    font-size: 3rem;
  }
  .hero__stat {
    min-width: 240px;
  }
  .hero__stat-text {
    font-size: 1.6rem;
  }
  .aboutme__main-text {
    padding-left: 4rem;
  }
  .aboutme__text {
    padding-left: 4rem;
    max-width: none;
    width: 60%;
  }
  .contact__main-text {
    font-size: 3.6rem;
  }
}
@media (min-width: 1200px) {
  .hero__hola {
    font-size: 5.8rem;
  }
  .hero__welcome-text {
    font-size: 3.2rem;
  }
  .hero__info {
    margin-bottom: 9rem;
  }
  .contact__main-text {
    font-size: 3.8rem;
  }
}
@media (max-width: 768px) {
  .nav {
    padding-right: 1rem;
  }
  .nav__hamburger {
    display: block;
    padding: 1rem;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 0;
    top: 7rem;
    left: -100%;
    width: 100%;
    padding-bottom: 2rem;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__item {
    margin: 16px 0;
  }
  .nav__menu.active {
    left: 0;
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}/*# sourceMappingURL=main.css.map */