*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[id] {
	scroll-margin-top: 7rem;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: #797878;
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	color: #0d1321;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.nav {
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	&__bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 7rem;
		padding: 0 2rem;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
	}

	&__item {
		list-style-type: none;
	}

	&__link {
		padding: 1rem 1.5rem;
		text-decoration: none;
		color: #0d1321;
		font-size: 1.6rem;

		&:hover {
			color: #ff8d83;
		}
	}

	ul .active a {
		color: #ea8c83;
	}

	&__hamburger {
		display: none;
	}

	&__hamburger-bar {
		display: block;
		width: 2.5rem;
		height: 0.3rem;
		margin: 0.5rem auto;
		background-color: black;
	}
}

.hero {
	background-color: rgb(255, 255, 255);
	margin-top: 7rem;

	&__section {
		padding: 0 2rem;
	}

	&__main {
		display: flex;
		flex-direction: column;
		background-color: #fafafb;
		border-radius: 2rem;
		overflow: hidden;
	}

	&__info {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	&__hola {
		margin: 2rem 0;
		font-weight: bold;
		font-size: 4rem;
	}

	.typed-cursor {
		color: #ea8c82;
	}

	&__welcome-text {
		margin-bottom: 4rem;
		font-size: 2.4rem;
	}

	&__text {
		margin-bottom: 4rem;
		color: #665f82;
		line-height: 2.8rem;
		font-size: 1.6rem;
	}

	&__btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
		font-size: 1.6rem;
	}

	&__btn {
		text-decoration: none;

		&--hire {
			margin-bottom: 1rem;
			padding: 1.5rem 3rem;
			background-color: #0d1321;
			color: white;
			border-radius: 1.6rem;
		}

		&--hire-logo {
			position: relative;
			top: 2px;
			right: 2px;
			width: 18px;
		}

		&--see {
			padding: 1.5rem 2rem;
			color: #0d1321;
			border-radius: 1.6rem;
		}
	}

	&__photo {
		margin: 0 auto -0.4rem;
	}

	&__statistic {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5rem 0;
	}

	&__stat {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		width: 15rem;
		height: 15rem;
	}

	&__number {
		margin-bottom: 1rem;
		color: #0d1321;
		font-size: 4rem;
		font-weight: bold;
	}

	&__stat-text {
		color: #989dbb;
		text-transform: uppercase;
		font-size: 1.2rem;
	}

	&__line {
		width: 100%;
		height: 1px;
		background-color: #e0e2ef;
	}
}

.aboutme {
	&__section {
		background-color: #0f1221;
	}

	&__main {
		padding: 5rem 2rem;
	}

	&__main-text {
		padding: 4rem 0;
		color: #ea8c82;
		font-size: 2.8rem;
	}

	&__text {
		max-width: 600px;
		padding: 2rem 0;
		color: white;
		font-size: 1.4rem;
		line-height: 2.8rem;
	}

	&__photo {
		background-color: #fff;
		text-align: center;
	}

	&__photo-box {
		padding: 5rem 2rem;
	}

	&__photo-img {
		width: 100%;
		max-width: 1100px;
		height: auto;
	}
}

.portfolio {
	&__section {
		background-color: white;
	}

	&__main {
		padding: 2rem 2rem 4rem 2rem;
	}

	&__main-text {
		padding: 2rem 0;
		font-size: 2.8rem;
	}

	&__navi {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50px;
		margin-bottom: 2rem;
	}

	&__navi-item {
		position: relative;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0 5px;
		color: #0d132183;
		font-size: 1rem;
		z-index: 1;
		border-radius: 5px;
		transition: all 0.3s ease;
		cursor: pointer;

		&:hover {
			color: #0d1321;
		}
	}

	&__content {
		display: none;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;

		&--image {
			position: relative;
			width: 100%;
			border-radius: 1.6rem;
		}
	}

	&__description {
		margin: 2rem 0;

		&--task {
			padding-bottom: 1.5rem;
			color: #ea8c83;
			font-size: 1.6rem;
		}

		&--company {
			font-size: 1.8rem;
			font-weight: bold;
		}
	}
}

.slider {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20%;
	height: 50%;
	z-index: 0;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.team-slider .swiper-button-next,
.team-slider .swiper-button-prev {
	top: 45%;
	padding-bottom: 5rem;
	color: #444;
}

input[type="radio"] {
	display: none;
}

#mobile:checked ~ section .content-1,
#websites:checked ~ section .content-2,
#branding:checked ~ section .content-3,
#other:checked ~ section .content-4 {
	display: block;
}
#mobile:checked ~ .navi label.mobile,
#websites:checked ~ .navi label.websites,
#branding:checked ~ .navi label.branding,
#other:checked ~ .navi label.other {
	color: #0d1321;
}

.contact {
	background-color: #fbc0ba;

	&__section {
		padding: 5rem 0;
	}

	&__box {
		padding: 5rem 2rem;
	}

	&__main-text {
		font-size: 3rem;
	}

	&__form-box {
		max-width: 500px;
		text-align: right;
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin-top: 5rem;
	}

	&__text-area {
		margin: 2rem 0;
		background-color: #fbc0ba;
		border: none;
		font-size: 1.4rem;
		border-bottom: 1px solid #0d1321;
	}
	&__text-area::placeholder {
		font-family: "Lato", sans-serif;
		color: #0d1321;
		opacity: 1;
	}

	&__btn {
		margin-top: 2rem;
		margin-left: auto;
		padding: 1.5rem 2rem;
		border: 1px solid #0d1321;
		background-color: #fbc0ba;
		color: #0d1321;
		border-radius: 1.6rem;
		cursor: pointer;
	}
}

.footer {
	background-color: #fbc0ba;

	&__body {
		padding: 0 2rem;
		text-align: center;
	}

	&__link {
		padding: 1rem 3rem;
		color: #0d1321;
		transition: color 0.5s;

		&:hover {
			color: #fafafb;
		}
	}

	&__create {
		padding: 3rem 0;
		font-size: 1.4rem;
	}
}

// MEDIA

@media (min-width: 576px) {
	.hero {
		&__hola {
			font-size: 4.2rem;
		}

		&__welcome-text {
			font-size: 2.6rem;
		}

		&__text {
			max-width: 500px;
		}

		&__btns {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		&__stats {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}

		&__stat {
			min-width: 250px;
		}

		&__btn {
			&--hire {
				margin-bottom: 0;
				margin-right: 1rem;
			}
		}
	}

	.aboutme {
		&__main-text {
			font-size: 3rem;
		}
	}

	.contact {
		&__main-text {
			font-size: 3.2rem;
		}
	}

	.portfolio {
		&__main-text {
			font-size: 3rem;
		}

		&__navi-item {
			font-size: 1.4rem;
		}

		&__description {
			&--task {
				font-size: 1.6rem;
			}

			&--company {
				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.hero {
		&__hola {
			font-size: 4.8rem;
		}

		&__welcome-text {
			font-size: 2.8rem;
		}

		&__statistic {
			display: flex;
			justify-content: space-around;
		}

		&__stats {
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
		}

		&__stat {
			min-width: 140px;
		}
	}

	.aboutme {
		&__main-text {
			font-size: 3.2rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	.portfolio {
		&__navi {
			max-width: 500px;
		}

		&__navi-item {
			justify-content: flex-start;
		}
	}

	.contact {
		&__main-text {
			font-size: 3.4rem;
		}
	}
}

@media (min-width: 992px) {
	.hero {
		&__main {
			display: flex;
			flex-direction: row;
		}

		&__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 4rem;
			margin-bottom: 5rem;
			align-items: start;
			text-align: left;
		}

		&__hola {
			font-size: 5.2rem;
		}

		&__welcome-text {
			font-size: 3rem;
		}

		&__stat {
			min-width: 240px;
		}

		&__stat-text {
			font-size: 1.6rem;
		}
	}

	.aboutme {
		&__main-text {
			padding-left: 4rem;
		}

		&__text {
			padding-left: 4rem;
			max-width: none;
			width: 60%;
		}
	}

	.contact {
		&__main-text {
			font-size: 3.6rem;
		}
	}
}

@media (min-width: 1200px) {
	.hero {
		&__hola {
			font-size: 5.8rem;
		}

		&__welcome-text {
			font-size: 3.2rem;
		}

		&__info {
			margin-bottom: 9rem;
		}
	}

	.contact {
		&__main-text {
			font-size: 3.8rem;
		}
	}
}

@media (max-width: 768px) {
	.nav {
		padding-right: 1rem;

		&__hamburger {
			display: block;
			padding: 1rem;
			cursor: pointer;
		}

		&__menu {
			position: fixed;
			flex-direction: column;
			text-align: center;
			gap: 0;
			top: 7rem;
			left: -100%;
			width: 100%;
			padding-bottom: 2rem;
			background-color: #fff;
			transition: 0.5s;
		}

		&__item {
			margin: 16px 0;
		}

		&__menu.active {
			left: 0;
		}

		&__hamburger.active &__hamburger-bar:nth-child(2) {
			opacity: 0;
		}

		&__hamburger.active &__hamburger-bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}

		&__hamburger.active &__hamburger-bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}
