*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: #797878;
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	color: #0d1321;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.nav {
	background-color: rgb(255, 255, 255);

	&__bar {
		padding: 0 2rem;
		min-height: 7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
	}

	&__item {
		list-style-type: none;
	}

	&__link {
		text-decoration: none;
		color: #0d1321;
		padding: 1rem 1.5rem;
		font-size: 1.6rem;

		&:hover {
			color: #ff8d83;
		}
	}

	&__hamburger {
		display: none;
	}

	&__hamburger-bar {
		display: block;
		width: 2.5rem;
		height: 0.3rem;
		margin: 0.5rem auto;
		background-color: black;
	}
}

.hero {
	background-color: rgb(255, 255, 255);

	&__section {
		padding: 0 2rem;
	}

	&__main {
		display: flex;
		flex-direction: column;
		background-color: #fafafb;
		border-radius: 2rem;
		overflow: hidden;
	}

	&__info {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	&__hola {
		font-weight: bold;
		font-size: 4rem;
		margin: 2rem 0;
	}

	&__welcome-text {
		font-size: 2.4rem;
		margin-bottom: 4rem;
	}

	&__text {
		color: #665f82;
		line-height: 2.8rem;
		margin-bottom: 4rem;
		font-size: 1.6rem;
	}

	&__btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
		font-size: 1.6rem;
	}

	&__btn {
		text-decoration: none;

		&--hire {
			padding: 1rem 4rem;
			background-color: #0d1321;
			color: white;
			border-radius: 1.6rem;
			margin-bottom: 1rem;
		}

		&--see {
			color: #0d1321;
			padding: 1rem 2rem;
			border-radius: 1.6rem;
		}
	}

	&__photo {
		margin: 0 auto -0.4rem;
	}

	&__statistic {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5rem 0;
	}

	&__stat {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		height: 15rem;
		width: 15rem;
	}

	&__number {
		font-size: 4rem;
		font-weight: bold;
		margin-bottom: 1rem;
		color: #0d1321;
	}

	&__stat-text {
		color: #989dbb;
		text-transform: uppercase;
		font-size: 1.2rem;
	}

	&__line {
		width: 100%;
		height: 1px;
		background-color: #e0e2ef;
	}
}

.aboutme {
	background-color: #0f1221;

	&__main {
		padding: 5rem 2rem;
	}

	&__main-text {
		font-size: 2.8rem;
		padding: 4rem 0;
		color: #ea8c82;
	}

	&__text {
		color: white;
		line-height: 2.8rem;
		font-size: 1.4rem;
		padding: 2rem 0;
		max-width: 600px;
	}
}

.contact {
	background-color: #fbc0ba;

	&__section {
		padding: 5rem 0;
	}

	&__box {
		padding: 5rem 2rem;
	}

	&__main-text {
		font-size: 3rem;		
	}

	&__form-box {
		max-width: 500px;
		text-align: right;
	}
	
	&__form {
		display: flex;
		flex-direction: column;
		margin-top: 5rem;
	}

	&__text-area {
		background-color: #FBC0BA;
		margin: 2rem 0;
		border: none;
		font-size: 1.4rem;
		border-bottom: 1px solid #0D1321;
	}
	&__text-area::placeholder {
		color: #0d1321;
		opacity: 1;
		font-family: "Lato", sans-serif;
	}

	&__btn {
		
		padding: 1rem 2rem;
		border-radius: 1.6rem;
		border: 1px solid #0d1321;
		color: #0d1321;
		margin-top: 2rem;
		background-color: #FBC0BA;		
	}

	
	
}

.footer {
	background-color: #FBC0BA;
	
	&__body {
		padding: 0 2rem;
		text-align: center;
	}

	&__link {
		padding: 1rem 3rem;
		color: #0d1321;

		&:hover {
			color: #fafafb;
		}
	}

	&__create {
		font-size: 1.4rem;
		padding: 3rem 0;
	}
}

// MEDIA

@media (min-width: 576px) {
	.hero {
		&__hola {
			font-size: 4.2rem;
		}

		&__welcome-text {
			font-size: 2.6rem;
		}

		&__text {
			max-width: 500px;
		}

		&__btns {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		&__stats {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}

		&__stat {
			min-width: 250px;
		}

		
	}

	.aboutme {
		&__main-text {
			font-size: 3rem;
		}
	}

	.contact {
		&__main-text {
			font-size: 3.2rem;		
		}
	}
}

@media (min-width: 768px) {
	.hero {
		&__hola {
			font-size: 4.8rem;
		}

		&__welcome-text {
			font-size: 2.8rem;
		}

		&__statistic {
			display: flex;
			justify-content: space-around;
		}

		&__stats {
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
		}

		&__stat {
			min-width: 140px;
		}
	}

	.aboutme {
		&__main-text {
			font-size: 3.2rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	.contact {
		&__main-text {
			font-size: 3.4rem;		
		}
	}
}

@media (min-width: 992px) {
	.hero {
		&__main {
			display: flex;
			flex-direction: row;
		}

		&__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			text-align: left;
			padding: 0 4rem;
			margin-bottom: 5rem;
		}

		&__hola {
			font-size: 5.2rem;
		}

		&__welcome-text {
			font-size: 3rem;
		}

		&__stat {
			min-width: 240px;
		}

		&__stat-text {			
			font-size: 1.6rem;
		}
	}

	.aboutme {
		&__text {
			max-width: none;
			width: 60%;
		}
	}

	.contact {
		&__main-text {
			font-size: 3.6rem;		
		}
	}
}

@media (min-width: 1200px) {
	.hero {
		&__hola {
			font-size: 5.8rem;
		}

		&__welcome-text {
			font-size: 3.2rem;
		}

		&__info {
			margin-bottom: 9rem;
		}
	}

	.contact {
		&__main-text {
			font-size: 3.8rem;		
		}
	}
}

@media (max-width: 768px) {
	.nav {
		padding-right: 1rem;

		&__hamburger {
			display: block;
			cursor: pointer;
			padding: 1rem;
		}

		&__menu {
			position: fixed;
			left: -100%;
			top: 7rem;
			gap: 0;
			padding-bottom: 2rem;
			flex-direction: column;
			width: 100%;
			text-align: center;
			transition: 0.5s;
			background-color: #fff;
		}

		&__item {
			margin: 16px 0;
		}

		&__menu.active {
			left: 0;
		}

		&__hamburger.active &__hamburger-bar:nth-child(2) {
			opacity: 0;
		}

		&__hamburger.active &__hamburger-bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}

		&__hamburger.active &__hamburger-bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}

// .statistic {
// 	height: 600px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	background-color: #ff8d83;

// }

// .container {

// 	height: 500px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-around;
// 	border: 5px solid red;
// 	flex-direction: column;

// }

// .stats {
// 	width: 100%;
// 	height: 300px;
// 	background-color: #665f82;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-around;
// }

// .stats div {
// 	width: 200px;
// 	height: 200px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-around;
// 	flex-direction: column;
// 	text-align: center;
// 	// gap: 20px;
// 	border: 2px solid yellow;
// }

// .sta {
// 	color: blue;
// 	font-size: 50px;
// }

// .abc {
// 	height: 100vh;
// }
