*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: #797878;
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	color: #0d1321;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.nav {
	background-color: rgb(255, 255, 255);

	&__bar {
		padding: 0 2rem;
		min-height: 7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
	}

	&__item {
		list-style-type: none;
	}

	&__link {
		text-decoration: none;
		color: #0d1321;
		padding: 1rem 1.5rem;
		font-size: 1.6rem;

		&:hover {
			color: #ff8d83;
		}
	}

	&__hamburger {
		display: none;
	}

	&__hamburger-bar {
		display: block;
		width: 2.5rem;
		height: 0.3rem;
		margin: 0.5rem auto;
		background-color: black;
	}
}

.hero {
	background-color: rgb(255, 255, 255);

	&__section {
		padding: 0 2rem;
		background-color: #ffffff;
		// background-color: #665f82;
	}

	&__main {
		display: flex;
		flex-direction: column;
		background-color: #fafafb;		
		border-radius: 2rem;
		overflow: hidden;
		// background-color: #ff8d83;
	}

	&__info {		
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		// background-color: #8e77ea;
	}

	&__hola {
		position: relative;
		// background-color: #9d827f;
		font-weight: bold;
		font-size: 4rem;
		margin: 2rem 0;
	}

	&__welcome-text {
		// background-color: aquamarine;
		font-size: 2.4rem;
		margin-bottom: 4rem;
	}

	&__text {
		// background-color: rgb(246, 244, 132);
		color: #665f82;
		line-height: 28px;
		margin-bottom: 4rem;
		font-size: 1.6rem;
	}

	&__btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
		font-size: 1.6rem;
	}

	&__btn {
		text-decoration: none;

		&--hire {
			padding: 1rem 4rem;
			background-color: #0d1321;
			color: white;
			border-radius: 1.6rem;
			margin-bottom: 1rem;
		}

		&--see {
			color: #0d1321;
			// border: 2px solid red;
			padding: 1rem 2rem;
			border-radius: 1.6rem;
		}
	}

	&__photo {
		margin: 0 auto;
	}
}

.aboutme {
	background-color: #fff;
	height: 600px;
}


.aboutme {

	background-color: #0D1321;
	height: 800px;
}
// MEDIA

@media (min-width: 576px) {
	.hero {

		&__hola {
			font-size: 4.2rem;
		}

		&__welcome-text {
			font-size: 2.6rem;
			
		}

		&__text {
			max-width: 500px;
			
		}

		&__btns {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}
}

@media (min-width: 768px) {

	.hero {

		&__hola {
			font-size: 4.8rem;					
		}

		&__welcome-text {			
			font-size: 2.8rem;
		}


		
	}
}

@media (min-width: 992px) {

	.hero {

		&__main {
			display: flex;
			flex-direction: row;			
			
		}

		&__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			text-align: left;
			padding: 0 4rem;
			margin-bottom: 5rem;
			
		}

		&__hola {
			font-size: 5.2rem;
					
			
		}
		
		&__welcome-text {			
			font-size: 3rem;			
		}



		
	}
}

@media (min-width: 1200px) {
	
	.hero {

		
		&__hola {
			font-size: 5.8rem;					
		}

		&__welcome-text {			
			font-size: 3.2rem;
		}

		&__text {
			max-width: 600px;
		}

		&__info {
			margin-bottom: 9rem;
		}

	}


}

@media (max-width: 768px) {
	.nav {
		padding-right: 1rem;

		&__hamburger {
			display: block;
			cursor: pointer;
			padding: 1rem;
		}

		&__menu {
			position: fixed;
			left: -100%;
			top: 7rem;
			gap: 0;
			padding-bottom: 2rem;
			flex-direction: column;
			width: 100%;
			text-align: center;
			transition: 0.5s;
			background-color: #fff;
		}

		&__item {
			margin: 16px 0;
		}

		&__menu.active {
			left: 0;
		}

		&__hamburger.active &__hamburger-bar:nth-child(2) {
			opacity: 0;
		}

		&__hamburger.active &__hamburger-bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}

		&__hamburger.active &__hamburger-bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}



